# Cover all "*policy*.md" documents
**/*policy*.md @Manciukic @micz010 @marco-marangoni
**/*POLICY*.md @Manciukic @micz010 @marco-marangoni

# Cover these files in the repository root
CODE_OF_CONDUCT.md @Manciukic @micz010 @marco-marangoni
DEPRECATED.md @Manciukic @micz010 @marco-marangoni
LICENSE @Manciukic @micz010 @marco-marangoni
NOTICE @Manciukic @micz010 @marco-marangoni
PGP-KEY.asc @Manciukic @micz010 @marco-marangoni
SECURITY.md @Manciukic @micz010 @marco-marangoni
SPECIFICATION.md @Manciukic @micz010 @marco-marangoni
THIRD-PARTY @Manciukic @micz010 @marco-marangoni

# Cover files related to audit/security
.cargo/audit.toml @Manciukic @micz010 @marco-marangoni
