CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y
CONFIG_MSDOS_PARTITION=y
CONFIG_SQUASHFS_ZSTD=y
# aarch64 only TBD split into a separate file
CONFIG_DEVMEM=y
# CONFIG_ARM64_ERRATUM_3194386 is not set
# Needed for CTRL+ALT+DEL support
CONFIG_SERIO=y
CONFIG_SERIO_I8042=y
CONFIG_SERIO_LIBPS2=y
CONFIG_SERIO_GSCPS2=y
CONFIG_KEYBOARD_ATKBD=y
CONFIG_INPUT_KEYBOARD=y