[package]
name = "snapshot"
version = "0.1.0"
authors = ["Amazon Firecracker team <firecracker-devel@amazon.com>"]
edition = "2021"
autobenches = false
license = "Apache-2.0"

[lib]
bench = false

[dependencies]
libc = "0.2.117"
versionize = "0.1.10"
versionize_derive = "0.1.6"
thiserror = "1.0.32"
displaydoc = "0.2.4"
log-instrument = { path = "../log-instrument", optional = true }

[dev-dependencies]
criterion = { version = "0.5.0", default-features = false }

[[bench]]
name = "version_map"
harness = false

[features]
tracing = ["log-instrument"]
