boto3==1.16.43
dataclasses==0.8
gitlint==0.15.0
nsenter==0.2
psutil==5.8.0
pycodestyle==2.6.0
pydocstyle==5.1.1
pylint==2.6.0
pytest==6.2.2
requests==2.25
pytest-timeout==1.4.2
requests-unixsocket==0.2.0
retry==0.9.2
typing-extensions==3.7.4.3
PyYAML==5.4.1
