awscli==1.16.101
boto3==1.10.17
botocore==1.12.91
certifi==2019.11.28
Click==7.0
cloudpickle==1.2.1
colorama==0.3.9
dask==0.19.2
docutils==0.14
Flask==1.0.2
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
locket==0.2.0
MarkupSafe==1.1.0
numpy==1.16.4